export EXAMAPI_POSTGRES_ADMIN=admin
export EXAMAPI_POSTGRES_PASSWORD=password
export EXAMAPI_POSTGRES_DBNAME=exam_db
export SPRING_PROFILES_ACTIVE=dev
export EXAMAPI_DEFAULT_ADMIN=admin
export EXAMAPI_DEFAULT_PASSWORD=password
export EXAMAPI_APP_KEY=NSWu151Ux4B9EscXXldt6e/XLNV8oCLZtOduNe/5yE4=